
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.cards {
  display: flex;
  border: 3px solid green; 
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
  border: 3px solid red; 
}

.card img {
  width: 125px;
  padding-bottom: 10px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
  border: 3px solid green; 
}

button, input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

.btn-wrap button {
  background-color: black;
  color: white;
  margin: 4px 2px;
  padding: 10px 50px;
  border: none;
  border-radius: 18px;
  outline: none;
}

.text-wrap {
  text-align: center;
  margin: 20px;
  border: 3px solid blue; 
}

.bottom-wrap {
  display: flex;
  border: 3px solid green; 
}

.coin {
  margin: 30px;
  border: 3px solid blue; 
}

.bet {
  margin: 30px;
  border: 3px solid blue; 
}
