body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./img/red.jpg");
  background-size: cover;
  color: white;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button, input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

.pointer-active {
  cursor: pointer;
}

.navbar {
  width: 100%;
  height: 65px;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid blue; 
  justify-content: space-between;
  position: fixed;
  z-index: 0;
}

.navbar li a {
  height: 100%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar li span {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}

.heart {
  font-size: 1.7rem;
  color: red;
}

.cards {
  display: flex;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px;
}

.card img {
  width: 170px;
  padding-bottom: 10px;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.btn-wrap button {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  color: white;
  margin: 5px;
  padding: 10px 50px;
  width: 210px;
  border: none;
  outline: none;
  border-radius: 18px;
  border: 3px solid white; 
}

.text-wrap {
  width: 1200px;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white; 
  border-radius: 10px;
}

.bottom-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wooper {
  margin: 30px;
  width: 400px;
}

.wooper-title {
  font-size: 1rem;
  width: 50px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.wooper-detail {
  font-size: 2rem;
  padding: 10px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.wooper-btn {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-bottom: -50px;
}

.bet-change {
  width: 35px;
  height: 35px;
  margin: 2px;
  font-size: 1.7rem;
  border-radius: 10px;
}

.yaku-table {
  width: 1200px;
  font-size: 1.5rem;
  margin: 10px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.table-left {
  padding-right: 100px;
}

.yaku-bet {
  width: 100px;
  text-align: center;
}

.highlight {
  color: yellow;
}
