* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./red.jpg");
  background-size: cover;
}

a {
  text-decoration: none;
}

button, input[type=checkbox], input[type=radio] {
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
}

.pointer-active {
  cursor: pointer;
}

#navbar {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid blue; 
  justify-content: space-around;
}

.title {
  color: white;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
}

.heart {
  font-size: 1.5rem;
  color: red;
}

#rank-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

  width: 1000px;
  height: 200px;
  margin-top: 10px;
  padding: 0 5%;

  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.rank {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.rank-name {
  width: 95%;
}

.cards {
  display: flex;
  margin-top: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.card img {
  width: 170px;
  padding-bottom: 10px;
}

.highlight {
  color: yellow;
}

.btn-wrap {
  display: flex;
  justify-content: center;
}

.btn-wrap button {
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
  color: white;
  margin: 5px;
  padding: 10px 50px;
  width: 210px;
  border: none;
  outline: none;
  border-radius: 18px;
  border: 3px solid white; 
}

.text-wrap {
  width: 1000px;
  text-align: center;
  margin: 20px;
  margin-bottom: 0;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid white; 
  border-radius: 10px;
}

.info-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1000px;
}

.info {
  margin: 10px;
  width: 50%;
}

.info-title {
  font-size: 1rem;
  width: 20%;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.info-detail {
  font-size: 2rem;
  padding: 10px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid green; 
  border-radius: 10px;
}

.info-btn {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-bottom: -50px;
}

.bet-change {
  width: 35px;
  height: 35px;
  margin: 2px;
  font-size: 1.7rem;
  border-radius: 10px;
}
